.App {
  text-align: center;
  display: grid;
  grid-template-areas:
"h h"
"m c"
"f f";
  grid-template-rows: 150px 1fr 150px;
  grid-template-columns: 2fr 10fr;
  grip-gap: 8px;

}

.header {
  grid-area: h;
}

.nav {
  grid-area: m;
}

.content {
  grid-area: c;
}

.footer {
  grid-area: f;
}




